.body {
    display: flex;
    justify-content: center;
}

#calculator {
    width: 40%;
    height: 900px;
    display: flex;
    flex-flow: column;
    border: 5px black solid;
    margin: auto;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.637);
    border-radius: 15px;
}

#display {
    width: auto;
    height: 200px;
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
    border: 5px black solid;
    margin-bottom: 50px;
    justify-content: flex-end;
    background-color: rgb(154, 199, 108);
    border-radius: 15px;
}

#display-text {
    align-self: flex-end;
    width: auto;
    height: 60%;
    text-align: right;
    font-size: 80px;
    margin: 0px 10px;
}

#display-history{
    align-self: flex-end;
    width: auto;
    height: 40%;
    text-align: right;
    font-size: 40px;
    margin: 0px 10px;
}

#buttons {
    width: auto;
    height: 70%;
    padding: 10px;
    border: 5px black solid;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: cornsilk;
}

.button {
    width: 20%;
    height: auto;
    border: 2px black solid;
    margin: 10px 10px;
    padding-top: 10px;
    font-size: 65px;
    display: flex;
    align-content: center;
    justify-content: center;
    box-shadow: 0 0 5px grey;
    background-color: darkgrey;
    border-radius: 5px;
}

#btn-clr,
#btn-ce {
    background-color: maroon;
    color: white;
}